
<header class="header-home">
    <section class="headerElements">
        <div class="bars">
            <a href="#"><i class="fas fa-bars"></i></a>
        </div>
        <div class="logo">
            <a href="/"><img src="/images/logo/logo.png" alt="logo"></a>    
        </div>
        <div class="central-navbar">
            <ul>
                <li><a href="/products/productCategories/escalada">Escalada</a></li>
                <li><a href="/products/productCategories/camperas">Camperas</a></li>
                <li><a href="/products/productCategories/calzado">Calzado</a></li>
                <li><a href="/products/productCategories/mochilas">Mochilas</a></li>
                <li><a href="/products">Marcas</a></li>
            </ul>
        </div>
        <nav class="main-nav">
            
            <div class="right-navbar">

                <% if(locals.isLogged && locals.userLogged.roleId == 1){ %>

                        <div class="right-navbarItem">
                            <i class="fas fa-search searchIcon"></i>
                        </div>

                        <div class="right-navbarItem">
                            <a><i class="fas fa-user-circle userIcon"></i></a>
                        </div>

                        <div class="right-navbarItem">
                            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    
                <% } else { %>

                    <div class="right-navbarItem">
                        <i class="fas fa-search searchIcon"></i>
                    </div> 

                    <div class="right-navbarItem">
                        <a><i class="fas fa-user-circle userIcon"></i></a>
                    </div>

                    <div class="right-navbarItem">
                        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    </div>

                <% } %>
            </div>
        </nav>
    </section>

    <% if(locals.isLogged && locals.userLogged.roleId == 2){ %>
        <a href="/profile" id="userAnchor1" class="userButton">Mi Perfil</a>
        <a href="/products/create" id="userAnchor3" class="userButton">Nuevo producto</a>
        <a href="/logout" id="userAnchor2" class="userButton">Salir</a>
    <% }else if (locals.isLogged) { %>
        <a href="/profile" id="userAnchor1" class="userButton">Mi Perfil</a>
        <a href="/logout" id="userAnchor2" class="userButton">Salir</a>
    <% }else { %>
        <a href="/register" id="userAnchor1" class="userButton">Registrarme</a>
        <a href="/login" id="userAnchor2" class="userButton">Login</a>
    <% } %>
    
    <script src="/js/headerSearchBar.js">
    </script><script src="/js/headerUser.js"></script>

</header>