


<div class="product">
    <div class="imgName">
        <img src="/images/productos/Casco/Casco2/edelrid_zodiac_34_imagen1.jpg" alt="">
        <p class="productName">Casco</p>
    </div>
    <div class="quantity">
        <form action="productCart.ejs" method="POST" form="cantidad-productCart"
            class="cantidad-productCart">
            <p class="productQuantity">Cantidad</p>
            <div class="number">
                <input type="number" id="productQuantity" name="productQuantity">
            </div>
        </form>
    </div>
    <div class="sumaPrecios">
        <div class="price">
            <p>Precio</p>
            <p>$###</p>
        </div>
        <div class="total">
            <p>Total</p>
            <p>$###</p>
        </div>
    </div>
    <div class="buttonDelete">
        <button type="button"><i class="fas fa-trash-alt"></i></button>
    </div>
</div>