
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productCart3.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Carrito de compras | Botacura</title>
</head>

<%- include('../partials/head') %>

<body>

        <%- include('../partials/header') %>

 <main class="main-cart">
    <h1 class="mainTitle">Tu carrito de compras</h1>
        <section class="progressBar">
            <div class="cart">
            <div class="paso paso1">
            </div>
            <p class="subtext">Carrito</p>
            </div>
             <div class="yourData">
              <div class="paso paso2">
               </div>
                  <p class="subtext">Tus datos y Envios</p>
            </div>
                                           
            <div class="confirm">
                <div class="paso paso3"> </div>
                <p><i class="fas fa-hiking"></i></p>
                     <p class="subtext">Confirma y paga</p>
                    
                </div>
        </section>

        
           <h1 class="tituloDatos" >Confirma y paga</h1>

 
        

               <h2 class="tituloDatos" >Método de pago</h2>
        
               
  
    <div class: "container">
      <div class="radio"> 
        <label>
          <input type="radio" name="radioa">Efectivo/Transferencia
        </label> 
      </div>
      <div class="radio"> 
        <label>
          <input type="radio" name="radioa">Mercado Pago
        </label> 
      </div>
      <div class="radio"> 
        <label>
          <input type="radio" name="radioa">Pago Facil/Rapipago
        </label> 
      </div>
      <div class="radio"> 
        <label>
          <input type="radio" name="radioa">Tarjeta de Crédito/Débito
        </label> 
      </div>
    </div>
     
 
      <form action="/productCart3" method="post" form="form-productCart3" class="form-productCart3"></form>


      <div class="inputBox">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido">
    </div>


             <div class="select-login">
                 <select class="tarjeta">

                     <option>Tarjeta</option>
                     <option value="visa">VISA</option>
                     <option value="american">AMERICAN EXPRESS</option>
                     <option value="mastercard">MASTERCARD</option>
                     <option value="otras">OTRAS</option>

                 </select>

            </div>

            <div class="inputBox">
                <input type="direccion" name="card-number" id="card-number" placeholder="N° de tarjeta">

            </div>  
                  
            <select class="cuotas">

               <option>Cuotas</option>
                <option value="1 cuota">1 cuota sin interes</option>
                <option value="3 cuotas">3 cuotas sin interes</option>
                 <option value="6 cuotas">6 cuotas sin interes</option>
                 <option value="12 cuotas">12 cuotas sin interes</option>

            </select>
                    
            <div class="form-group CVV">
                <input type="text" name="form-control" id="cvv"placeholder="CVV">
            </div>
                        
            <div class="form-group" id="expiration-date">
                 <label>VTO</label>
                    <select>
                        <option value="01">01</option>
                        <option value="02">02 </option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>         
                    <select>
                        <option value="21"> 2021</option>
                        <option value="22"> 2022</option>
                        <option value="23"> 2023</option>
                        <option value="24"> 2024</option>
                        <option value="25"> 2025</option>
                        <option value="26"> 2026</option>       
                                
                    </select>
                        </div>
                </form>  
           <div class="navigationButtons">

                <div class="buttonContainer">
                    <button type="button" class="navigationButton"><a href="/productCart2">Atras</a></button>
                </div>
    
                <div class="buttonContainer">
                     <button type="button" class="navigationButton"><a href="/products">Seguir Comprando</a></button>
                </div>
    
                <div class="buttonContainer">
                    <button type="button" class="navigationButton"><a href="/productCart4">Pagar</a></button>
                </div>
        
            </div> 

                <section class="offers">
                    <div class="freeShipment">
                        <i class="fas fa-truck"></i>
                        <h3>ENVIO GRATIS</h3>
                        <p>en compras superiores a $$</p>
                    </div>
                    <div class="noInterest">
                        <i class="far fa-credit-card"></i>
                        <h3>CUOTAS SIN INTERES</h3>
                        <p>ver promociones bancarias</p>
                    </div>
                    <div class="complains">
                        <i class="fas fa-phone-alt"></i>
                        <h3>RECLAMOS</h3>
                        <p>011-0123-4567</p>
                    </div>
                </section>
            </main>
            
            <%- include('../partials/footer') %>
            
            </body>
            
            </html>